[project]
	description = Object.watch implementation using ECMAScript 5. Boom.
[access "refs/*"]
	owner = group user/lsdriscoll (lsdriscoll)
[access "refs/for/refs/*"]
	read = group user/lsdriscoll (lsdriscoll)
	push = group user/lsdriscoll (lsdriscoll)
	label-Code-Review = -2..+2 group user/lsdriscoll (lsdriscoll)
	label-Verified = -1..+1 group user/lsdriscoll (lsdriscoll)
	rebase = group user/lsdriscoll (lsdriscoll)
	removeReviewer = group user/lsdriscoll (lsdriscoll)
	submit = group user/lsdriscoll (lsdriscoll)
[access "refs/heads/*"]
	read = group user/lsdriscoll (lsdriscoll)
	create = group user/lsdriscoll (lsdriscoll)
	push = +force group user/lsdriscoll (lsdriscoll)
	pushMerge = group user/lsdriscoll (lsdriscoll)
[access "refs/tags/*"]
	push = +force group user/lsdriscoll (lsdriscoll)
	pushTag = group user/lsdriscoll (lsdriscoll)
	pushSignedTag = group user/lsdriscoll (lsdriscoll)
